@media screen and (max-width: 880px) {

	.container {
		width: 90%;	
	}

	.img-bear{
		height: 525px;
		width: 338px;
	}

	.img-bear.rotated{
		width: 75%;
		right: 10%;
		left: 15%;
	}

	footer ul li:first-child{
		display: none;
	}

	footer ul li.email{
		display: block;
	}

	footer .span5{
		width: 48.9362% !important;
	}

	footer .span2{
		display: none !important;
	}

}


@media screen and (max-width: 640px) {

	/* overall
	---------------------------------------------------- */
	.row-tight [class*="span"],
	.row [class*="span"]{
		display: block;
		width: 100%;
		margin: 0;
	}

	main form{
		padding: 0 0 35px;
		width: 100%;
	}

	main .wrap h3:last-child{
  		margin-bottom: 40px;
	}

	.span12.half{
		min-height: 0;
	}

	.img-bear{
		display: table;
		position: relative;
		height: 450px;
		width: 100%;
	}

	footer .span5{
		width: 65% !important;
	}

	footer .span5:first-child{
		width: 35% !important;
	}

	.animation-element[data-anim="slide_right"] {
	    -moz-transform: translateX(500px);
	    -webkit-transform: translateX(500px);
	    -o-transform: translateX(500px);
	    -ms-transform: translateX(500px);
	    transform: translateX(500px);

	    -webkit-transition: -webkit-transform 2s ease, opacity 0.6s ease;
	    -moz-transition: -moz-transform 2s ease, opacity 0.6s ease;
	    -ms-transition: -ms-transform 2s ease, opacity 0.6s ease;
	    -o-transition: -o-transform 2s ease, opacity 0.6s ease;
	    transition: transform 2s ease, opacity 0.6s ease);
	}

}

@media screen and (max-width: 580px) {

	header h1{
		margin-bottom: 7px;
	}

}

@media screen and (max-width: 400px) {

	main form input[type="checkbox"]{
		height: 24px;
		width: 24px;
	}

	#ninja_forms_field_29_div_wrap > label,
	#ninja_forms_field_30_div_wrap > label{
    	line-height: 26px;
	}

	.field-wrap.label-right .ninja-forms-field, .field-wrap.label-right .ninja-forms-star-rating-control{
		margin-right: 3px !important;
	}

}
